.quiz {
    width: 100%;
    background: url(../../assets/quiz-bg.png);
    background-size: cover;
    background-position: bottom;  
}

.wrapper {
    position: relative;
}

.quiz .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: rgb(176, 146, 255, 0.27);
    box-shadow: 0px 5px 25px rgba(57, 15, 86, 0.25);
    border-radius: 20px;
    margin: 10px 0;
}

.wrapper .nav-management {
    display: flex;
}

.nav-management p {
    margin-left: 0px !important;
}

.nav-management .btn-new {
    background: #FFAE41;
    border-radius: 4px;
    padding: 8px 20px;
    margin: 19px 0;
}

.nav-management .btn-new a {
    font-family: 'Lexend';
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}

.wrapper .infos {
    width: 708px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 163px;
    gap: 40px;
    background: #FFAE41;
    border-radius: 8px;
    gap: 40px;
}


.wrapper .infos .info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.wrapper .infos .info img {
    width: 24px;
    height: 24px;
}

.wrapper .nav-links {
    padding: 24px 0;
    font-family: 'Lexend';
    font-weight: 600;
    font-size: 16px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin: auto;
}

.quiz-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container .quiz-card .option {
    width: 540px;
    height: 59px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 51px;
    cursor: pointer;
}


.content-container .quiz-card .quiz-question {
    font-family: 'Lexend';
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
}

.content-container .quiz-card .option .option-aphabet {
    font-family: 'Lexend';
    font-weight: 600;
    font-size: 18px;
    color: #FFAE41;
    margin-left: 27px;
}

.content-container .quiz-card .option .option-content {
    font-family: 'Lexend';
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.wrapper .content-container p {
    font-family: 'Lexend';
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    z-index: 10;
}

.quiz-card button {
    background: #FFAE41;
    border-radius: 9px;
    color: #ffffff;
    padding: 10px 25px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 15px 20px;
    font-family: 'Lexend';
    font-weight: 600;
    font-size: 18px;
}

.content-container .result-card p {
    font-family: 'Lexend';
    font-weight: 700;
    font-size: 48px;
}

.content-container .result-score p {
    font-family: 'Lexend';
    font-weight: 700;
    font-size: 36px;
    color: #FFAE41;
}

.content-container .button-nav button {
    padding: 10px 123px;
    background: #5C0194;
    border-radius: 4px;
    font-family: 'Lexend';
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.content-container .button-nav {
    margin-bottom: 100px;
}

.content-container .icon-1 {
    position: absolute;
    left: 0;
    top: 0;
}

.content-container .icon-2 {
    position: absolute;
    right: 0;
    top: 0;
}

.content-container .icon-4 {
    position: absolute;
    left: 0;
    bottom: 0;
}

.content-container .icon-3 {
    position: absolute;
    right: 0;
    bottom: 0;
}